angularapp/package.json
angularapp/package-lock.json
angularapp/karma.conf.js
angularapp/tsconfig.app.json
angularapp/tsconfig.json
angularapp/tsconfig.spec.json
angularapp/angular.json
angularapp/.editorconfig
angularapp/src/test.ts
angularapp/node_modules
angularapp/src/app/environments/environment.ts
junit
karma
 
springapp/HELP.md
springapp/mvnw
springapp/mvnw.cmd
springapp/pom.xml
springapp/target
springapp/src/main/resources
springapp/.mvn

springapp/src/main/resources/application-local.properties